# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
wheels/
venv/
.venv/

# Testing
htmlcov/
.coverage
*.xml
report.html

# IDE
.vscode/
.idea/

# Project specific
*.log
.env
.secrets
bandit-report.json
bandit-results.sarif

# Containerlab
clab-*/
