[MAIN]
# Use multiple processes to speed up Pylint
jobs = 0

[FORMAT]
max-line-length = 100

[MESSAGES CONTROL]
# Disable missing docstring warnings for now — relax during POC
disable =
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring

[BASIC]
good-names = i, j, k, v, e, f, ip

[SIMILARITIES]
min-similarity-lines = 6
