[project]
name = "project-network-synapse-3"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "infrahub-sdk[ctl]>=1.18.1",
]
